<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required:false)
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="@Url.Action("Index","Recipes")">Кухня</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                            Вы вошли как <a href="#" class="navbar-link">тут будет юзернэйм</a>
                        </p>
                        <ul class="nav">
                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Рецепты <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Поиск</a></li>
                                    <li><a href="@Url.Action("Create", "Recipes")">Добавить свой</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            <li><a href="#about">О проекте</a></li>
                            <li><a href="#contact">Напишите нам</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
